body {
	font-family: sans-serif;
	background-color: #EAF2F8;
	color: #212121;
	font-size: 1em;
}

.code-container {
	margin: 0 auto;
	width: 600px;
} /* Gutter on the lft and right side of page */

a {
	color: #FFA000;
}

a:visited {
	color: #FFC107;
}

/* NAVIGATION - BEGIN */

nav {
	width: 100%;
	background-color: #FFC107;
	padding: 20px;
	color: #ffffff;
}

nav ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px 5px 0px 0px;
}

nav li {
	margin-right: 20px;
	display: inline-block;
}

nav p {
	color: #FFECB3;
}

nav h1 {
	margin: 0px;
}

nav a {
	color: #EE6352;
	font-weight: bold;
}

nav a:visited {
	color: #EE6352;
	font-weight: bold;
}

/* NAVIGATION - END */

#social {
	margin: 10px auto;
	position: relative;
	text-align:center;
}

#social-img {
	display: inline-block;
	margin: 10px;
}

/* WORK SAMPLE PAGE - BEGIN */

h1#work-section { 
	text-align: center;
	color: #607D8B;
	/*color: #727272;*/
}

.work-sample {
	box-sizing: border-box;
	height: 150px;
	width: 600px;
	margin: 0 auto;
	padding: 10px;

}

.white-background {
	background: rgba(255, 255, 255, 0.75);
	padding: 10px;
	position: relative; 
  	top: 50%;
  	-webkit-transform: translateY(-50%); 
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
} /* Vertical align CSS styling (above 5 lines) found at http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/	*/

.work-loc-status {
	margin: 0.25em 0px;
}

.work-descrip {
	margin: .25em 0px;
}

#h-inline {
	display: inline-block;
	margin: 0px;
}

h1#h-inline {
	color: #212121;
	padding-right: 15px;
}

h3#h-inline {
	color: #455A64;
}

a#a-work {
	color: #EE6352;
}

a:visited#a-work {
	color: #455A64;
}

.code {
	width: 125px;
	height: 125px;
	background-color: blue;
	display: inline-block;
	margin: 0px 10px;
}

/* WORK SAMPLE PAGE - END */

/* WORK / ABOUT PAGE: BACKGROUND IMAGES FOR WORK SAMPLE DIVS */

#g4c-img {
	background-image: url(../imgs/g4cfest_s.png);
}

#glad-libs-img {
	background-image: url(../imgs/gladLibs.png);
}

#sea-tech-img {
	background-image: url(../imgs/sea-tech.png);
}

#mj-img {
	background-image: url(../imgs/the-mj.png);
}

#igda-dc-img {
	background-image: url(../imgs/igda-dc.png);
}

